 <div class='share'>
  <% if @share.writable && current_user.followers.any? %>
    <%= form_for(@list.shares.build(list_id: @list.id)) do |f| %>
      <%= f.hidden_field :list_id, { :value => @list.id } %>

      <% followers = current_user.followers.map { |user| [user.name, user.id] } %>
      <%= f.select(:user_id, options_for_select(followers)) %>

      <%= f.label :writable, "User Can Edit List" %>
      <%= f.check_box :writable %>

      <%= f.submit "Share List", class: "btn btn-medium btn-primary" %>
    <% end %>
  <% end %>
</div>
