<div class="masthead">    
  <ul class="nav nav-pills pull-right">
    <li><%= render 'layouts/search_bar' %></li>
    <li><%= link_to "Home", root_path %></li>
    <% if signed_in? %>
      <%= render 'layouts/signed_in_user_links' %>
    <% else %>      
      <li><%= link_to "Sign in",  signin_path %></li> 
    <% end %>   
  </ul>
  <h3 class="muted"><%= link_to "My Movie List", root_path, id: "logo" %></h3>
</div>
